<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-compass"></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add New Listings</a>
      </div>
    </div>
  </div>
</nav>

<!-- Font Awesome (correct version) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  integrity="sha512-SzlrxWriC3LLJSk6DX7C0VtvhQ5pM9s1G1rVbztcYgV1N7cvM4Iq6C2d4smF4p4p2Jdv+ZC2eR8wC8xwT+JQ0Q=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
