<% layout("/layouts/boilerplate") -%>
<body>
  <h2>All Listings</h2>
  <!-- <form method="GET" action="/listings/new">
        <button>
            Create New Listing 
        </button>
    </form> -->


    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
  <% allListings.forEach(function(listing) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">

  <div class="card">
    <img
      src="<%= typeof listing.image === 'object' ? listing.image.url : listing.image %>"
      class="card-img-top"
      alt="listing_image"
      style="height: 20rem"
    />
    <div class="card-img-overlay"></div>

    <div class="card-body">
      <p class="card-text">
       <b> <%= listing.title %><br /></b>
        <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> /night

      </p>
    </div>
  </div>
  </a>

  <% }); %>
  </div>
</body>
