/* body{
    background-color: pink;
} */

body{
    display:flex;
    flex-direction:column;
    min-height:100vh;

}

.container{
    flex:1;
}


.navbar{
    height: 4rem;
    background-color:white;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}


/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links, .f-info-socials,.f-info-brand{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    text-align: center;
    /* padding-top: 2rem; */
    height:8rem;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    background-color: #ebebeb;
    align-items:space-evenly;
    

}

/* cards */
.card{
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1 rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight:400 !important;    
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity:0.2;
    background-color:white;
}

.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}

/* show page  */

.show-img{
    height : 30vh !important;
}

.btns {
    display:flex;
}

.show-card{
    padding-left: 0;
    padding-right:0;
}